# Thư mục và tệp tạm thời của Visual Studio
.vs/
*.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates


# Bỏ qua các tệp backup, cache
*.backup
*.cache
*.bin
*.log

# Bỏ qua các tệp biên dịch
bin/
obj/

# Bỏ qua các tệp tạm thời khác
*.tmp
*.DS_Store
